schemas/personal.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="resume" elementFormDefault="qualified">
    <xs:element name="personal">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" />
                <xs:element name="phone" />
                <xs:element name="email" />
                <xs:element name="summary_statement" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>