schemas/skills.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="resume" elementFormDefault="qualified">
    <xs:element name="skills">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="skill" />
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="image_source" />
                            <xs:element name="image_alt" />
                        </xs:sequence>
                    </xs:complexType>
            </xs:sequence>
    </xs:element>
</xs:schema>